.Login {
margin: top 0px;
    color: #797979;
    font-size: 18px;
    text-align: center;
}

.Login-Link {
color: #3366CC;
    cursor: pointer;
}

.error-message{
    font-size: 14px;
        color: red;
        margin-left: 20px;
}

.input-container {
    width: 400px;
    position: relative;
    display: flex;
    align-items: center;
}

.input-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.input-field {
    padding-right: 30px;
}

.password-toggle-icon {
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}